body{
margin:0;
font-family:Arial;
background:#f4f6fb;
}

/* LOGIN BACKGROUND */

.auth-bg{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:url("https://images.unsplash.com/photo-1517838277536-f5f99be501cd") center/cover;
}

.auth-box{
background:rgba(255,255,255,0.9);
padding:40px;
border-radius:12px;
width:320px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.auth-box input{
width:100%;
padding:12px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;
}

.auth-box button{
width:100%;
padding:12px;
background:#4facfe;
border:none;
color:white;
border-radius:6px;
font-weight:bold;
cursor:pointer;
}

/* SIDEBAR */

.sidebar{
position:fixed;
width:230px;
height:100vh;
background:#111827;
color:white;
padding:20px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
padding:12px;
margin:10px 0;
background:#1f2937;
border-radius:6px;
cursor:pointer;
}

.sidebar li:hover{
background:#2563eb;
}

.sidebar button{
margin-top:20px;
padding:10px;
width:100%;
background:#ef4444;
border:none;
border-radius:6px;
color:white;
}

/* MAIN */

.main{
margin-left:250px;
padding:30px;
}

/* CARDS */

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-bottom:30px;
}

.card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
text-align:center;
}

.card p{
font-size:26px;
color:#2563eb;
}

/* FITNESS FORM */

.fitness-form{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.fitness-form input{
display:block;
width:100%;
padding:10px;
margin:10px 0;
}

.fitness-form button{
background:#2563eb;
color:white;
border:none;
padding:12px;
border-radius:6px;
width:100%;
}

/* CHARTS */

.charts{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
margin-top:30px;
}